.hourly-item{
    margin: 10px;
}
.hour{
    font-weight: 900;
}

.weather-tele{
    /* border: 1px solid red; */
    width: 20%;
}

.weather-boxes{
    display: flex;
}

.weather-spots{
    display: inline;
}
.spot{
    margin: 5px;
}

.transit{
    font-family: sans-serif;
    display: flex;
    width: 90%;
    margin: 5px;
}
.transit-switcher{
    display: flex;
}
.transit-switch-on{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 15px;
    width: 100px;
    margin: 10px;
    /* color: blue; */
}
.transit-switch-off{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 15px;
    width: 100px;
    margin: 10px;
    color: gray;
}
.transit-switch-off:hover{
    cursor: pointer;
}
.transit-on{
    display: flex;
    width: 100%;
}
.transit-off{
    display: none;
}
.buss{
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    width: 33%;
}
.bus{
    margin: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}
.line{
    font-weight: 900;
}
.expected{
    font-weight: 900;
}
.stop{
    width: 50%;
    margin: 2%;
}
input{
    margin: 5px;
}