.hourly-item{
    margin: 10px;
}
.hour{
    font-weight: 900;
}

.weather-tele{
    /* border: 1px solid red; */
    width: 20%;
}

.weather-boxes{
    display: flex;
}

.weather-spots{
    display: inline;
}
.spot{
    margin: 5px;
}

.transit{
    font-family: sans-serif;
    display: flex;
    width: 90%;
    
}
.buss{
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.small{
    width: 33%;
    margin-right: 20px;
}
.big{
    width: 66%;
    display: flex;
}
.bus{
    margin: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    width: 90%;
}
.line{
    font-weight: 900;
}
.expected{
    font-weight: 900;
}